//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 27 20:55:21 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "led[0]" LOCATE = SITE "P134" LEVEL 1;
COMP "led[1]" LOCATE = SITE "P133" LEVEL 1;
COMP "led[2]" LOCATE = SITE "P132" LEVEL 1;
COMP "led[3]" LOCATE = SITE "P131" LEVEL 1;
COMP "led[4]" LOCATE = SITE "P127" LEVEL 1;
COMP "led[5]" LOCATE = SITE "P126" LEVEL 1;
COMP "led[6]" LOCATE = SITE "P124" LEVEL 1;
COMP "led[7]" LOCATE = SITE "P123" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
TIMEGRP clk = BEL "M_led_reg_q_0" BEL "M_led_reg_q_1" BEL "M_led_reg_q_2" BEL
        "M_led_reg_q_3" BEL "M_led_reg_q_4" BEL "M_led_reg_q_5" BEL
        "M_led_reg_q_6" BEL "M_led_reg_q_7" BEL "cpu/M_reg_q_100" BEL
        "cpu/M_reg_q_101" BEL "cpu/M_reg_q_102" BEL "cpu/M_reg_q_103" BEL
        "cpu/M_reg_q_104" BEL "cpu/M_reg_q_105" BEL "cpu/M_reg_q_110" BEL
        "cpu/M_reg_q_106" BEL "cpu/M_reg_q_111" BEL "cpu/M_reg_q_107" BEL
        "cpu/M_reg_q_108" BEL "cpu/M_reg_q_109" BEL "cpu/M_reg_q_120" BEL
        "cpu/M_reg_q_121" BEL "cpu/M_reg_q_122" BEL "cpu/M_reg_q_123" BEL
        "cpu/M_reg_q_0_1" BEL "cpu/M_reg_q_0_2" BEL "cpu/M_reg_q_1_1" BEL
        "cpu/M_reg_q_1_2" BEL "cpu/M_reg_q_2_1" BEL "cpu/M_reg_q_2_2" BEL
        "cpu/M_reg_q_3_1" BEL "cpu/M_reg_q_3_2" BEL "cpu/M_reg_q_4_1" BEL
        "cpu/M_reg_q_4_2" BEL "cpu/M_reg_q_5_1" BEL "cpu/M_reg_q_6_1" BEL
        "cpu/M_reg_q_6_2" BEL "cpu/M_reg_q_7_1" BEL "cpu/M_reg_q_0" BEL
        "cpu/M_reg_q_1" BEL "cpu/M_reg_q_2" BEL "cpu/M_reg_q_3" BEL
        "cpu/M_reg_q_4" BEL "cpu/M_reg_q_5" BEL "cpu/M_reg_q_6" BEL
        "cpu/M_reg_q_7" BEL "cpu/M_reg_q_8" BEL "cpu/M_reg_q_9" BEL
        "cpu/M_reg_q_10" BEL "cpu/M_reg_q_11" BEL "cpu/M_reg_q_12" BEL
        "cpu/M_reg_q_13" BEL "cpu/M_reg_q_14" BEL "cpu/M_reg_q_20" BEL
        "cpu/M_reg_q_15" BEL "cpu/M_reg_q_16" BEL "cpu/M_reg_q_21" BEL
        "cpu/M_reg_q_22" BEL "cpu/M_reg_q_17" BEL "cpu/M_reg_q_23" BEL
        "cpu/M_reg_q_18" BEL "cpu/M_reg_q_19" BEL "cpu/M_reg_q_90" BEL
        "cpu/M_reg_q_91" BEL "cpu/M_reg_q_92" BEL "cpu/M_reg_q_93" BEL
        "cpu/M_reg_q_88" BEL "cpu/M_reg_q_94" BEL "cpu/M_reg_q_89" BEL
        "cpu/M_reg_q_95" BEL "cpu/M_reg_q_96" BEL "cpu/M_reg_q_97" BEL
        "cpu/M_reg_q_98" BEL "cpu/M_reg_q_99" BEL "clk_BUFGP/BUFG" BEL
        "reset_cond/M_stage_q_3" BEL "reset_cond/M_stage_q_2" BEL
        "reset_cond/M_stage_q_1" BEL "reset_cond/M_stage_q_0";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

